<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swagger</title>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css" >
  </head>
  <body>
    <div id="swagger-ui" />
  </body>
  <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  <script>
    SwaggerUIBundle({
      spec: <%-JSON.stringify(spec)%>,
      dom_id: '#swagger-ui'
    });
  </script>
</html>
