* {
  box-sizing: border-box!important;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
}

.ant-tabs-content {
  display: flex;
  flex-grow: 1;
}